#root {
  max-width: 1850px;
  max-height: 900px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  width: full ;
  height: 1000px;
  background-image: url('./assets/fundotextura.png'); /* Substitua pelo link da sua textura */
  /* background-position:initial; */
  /* background-size: contain; */
}